/* Conteneur principal */
.experience-section {
    display: flex;
    flex-direction: row;
    padding: 10rem 20rem 6rem 20rem;
    gap: 12rem;
  }

  /* Partie gauche avec le titre et description */
  .experience-left {
    flex: 1;
  }
  
  .experience-left h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  .experience-left p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    width: 115%;
  }

  .button-cv {
    margin-top: 3rem;
  }

  
  /* Partie droite avec la timeline */
  .experience-right {
    flex: 2;
    position: relative;
  }
  
  /* Ligne verticale */
  .timeline {
    position: relative;
    border-left: 2px solid #ccc;
    height: 80%;
  }
  
  /* Élément de la timeline */
  .timeline-item {
    position: relative;
    margin-bottom: 3rem;
  }
  
  /* Point central */
  .timeline-dot {
    position: absolute;
    left: -26px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  }
  
  .timeline-dot img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  
  /* Contenu de chaque carte */
  .timeline-content {
    position: relative;
    margin-left: 3rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 8px;
    /* box-shadow: 0 0 0 1px #ddd; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: solid 1px #ccc;
  }
  
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 1.2rem;
    left: -12px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid #ccc;  /* couleur du triangle de timeline-content vers timeline-dot */
  }
  
  .timeline-content h4 {
    font-size: 1.1rem;
    color: var(--first-color);
    margin-bottom: 0.3rem;
    font-weight: 500;
  }
  
  .timeline-content p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.5rem;
  }
  
  .timeline-content span {
    font-size: 0.9rem;
    color: #666;
  }
  
  .badge {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 12px;
    border-radius: 12px;
    gap: 10px;
    border: solid 1px #a0a0a0;
    gap: 10px;
  }
  
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    flex-wrap: wrap; /* permet de passer à la ligne pour jouer avec les media-query */
  }
  

  /* Responsive */

  @media (max-width: 1780px) {
    .content-header {
      flex-direction: column-reverse; /* la badge passe au dessus du titre (interversion) */
      align-items: flex-start; /* aligne à gauche */
    }
  
    .badge {
      margin-bottom: 0.5rem; /* espace sous le badge */
    }

    @media (max-width: 1400px) {
  .experience-section {
    flex-direction: column; /* empile les parties gauche et droite */
    gap: 3rem;
  }

  .experience-left,
  .experience-right {
    width: 100%; /* s'assure que chaque partie prend toute la largeur */
  }

  .experience-right {
    margin-top: 3rem; /* petit espace entre les deux sections */
  }
}



  }
  