/* StackSection.css */

/* Conteneur principal en flex pour centrer verticalement et horizontalement */
.stack-section {
    display: flex;
    flex-direction: column;
    padding: 4rem 20rem;
}
  
  /* En-tête de la section */
  .stack-header {
    margin-bottom: 3rem;
  }
  
  .stack-header h3 {
    font-size: 1.8rem;
  }
  
  .stack-header p {
    font-size: 1rem;
    color: #555;
    margin-top: 25px;
  }
  
  /* Grille des catégories */
  .stack-categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
  }
  
  /* Une catégorie */
  /* .stack-category {
    flex: 1 1 200px;
  }
   */
  .stack-category h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .stack-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .tech-icon {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  
  /* Taille des icônes responsive */
.tech-icon {
  font-size: 2rem; /* taille par défaut pour grands écrans */
  margin: 0.5rem;
}

/* Laptop */
@media (max-width: 1200px) {
  .tech-icon {
    font-size: 1.7rem;
  }
}

/* Tablette */
@media (max-width: 900px) {
  .tech-icon {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .tech-icon {
    font-size: 1.3rem;
  }
}

/* Très petit mobile */
@media (max-width: 400px) {
  .tech-icon {
    font-size: 1.1rem;
  }
}
