/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: 'Crimson Text', serif;
  --font-body: 'Hanken Grotesk', sans-serif;
  --bg-color: #FFFEFD;
  --first-color: #21243D;
  --second-color: #222D82;
  /* --third-color: #FF7999; */
  --third-color: #d49dd5;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--first-color);
}



h1, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}


/* Links */
a {
  color: var(--first-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-line {
  width: 120px;
  height: 3px;
  background-color: var(--third-color);
  margin-bottom: 30px;
  border-radius: 2px;
}