/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: 'Crimson Text', serif;
  --font-body: 'Hanken Grotesk', sans-serif;
  --bg-color: #FFFEFD;
  --first-color: #21243D;
  --second-color: #222D82;
  --third-color: #d49dd5;
}

::selection {
  background-color: var(--third-color);
  color: #FFFEFD;
}


body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--first-color);
}


h1, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}


/* Links */
a {
  color: var(--first-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-line {
  width: 120px;
  height: 3px;
  background-color: var(--third-color);
  margin-bottom: 30px;
  border-radius: 2px;
}


  /* Button */
  
  .hero-button {
    --color: #814883;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    color: var(--color);
    background: transparent;
}

/* Pseudo-élément animé */
.hero-button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  background: var(--color);
  z-index: -1;
  transition: all 0.7s;
}

/* Effet au survol */
.hero-button:hover {
  color: white;
}

.hero-button:hover::before {
  top: -30px;
  left: -30px;
}

/* Clic */
.hero-button:active::before {
  background: rgb(32, 7, 90);
  transition: background 0s;
}

/* === Responsive === */

/* Tablette */
@media (max-width: 1024px) {
  .hero-button {
    width: 7em;
    height: 2.4em;
    font-size: 13px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero-button {
    width: 6.5em;
    height: 2.2em;
    font-size: 12px;
    line-height: 2.2em;
  }
}


